
html  { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
    margin: 60px auto;
    width: 70%;
    color: #00004d;
}

     
nav { border-bottom: 0.5px solid #4d4d4d;
      
      }
      
nav ul, footer ul {
    font-family:'Sans-Serif', 'Arial';
    padding-top: 15px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul   {
    text-align:right;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 15px;
    font-family:'Sans-Serif', 'Arial';
    padding-top: 20px;
    padding-left: 25px;
}

p {
    font-size: 1.1em;
    line-height: 1.4em;
    float: right;
    margin:5%;
}
footer {
    border-top: 1px dotted #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
 
img { float:right;
  
      }
.container { padding-bottom: 15px;
  
      }
.blurb { padding-bottom: 15px;
  
      }

table { padding: 15px;
  
      }
 
 
